@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link, a.sidebar-link{

    border-left: 3px solid transparent;
    color: rgba(233, 236, 239, .5);
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: .625rem 1.625rem;
    position: relative;
    text-decoration: none;
    transition: background .1s ease-in-out;
}

.sidebar-dropdown, .sidebar-link{
    background: transparent;
    border-left: 0;
    color: #adb5bd;
    font-size: 90%;
    font-weight: 400;
    padding: 0.625rem 1.5rem 0.625rem 3.25rem;
}
